.mydivs{
    padding: 10px;
    border: 1px solid #0084b4;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #c0deed;
    height: 400px;
    overflow: auto;
}
hr{
    border-style: inset;
    border-width: 1px;
}
.mySlides{
    color: #00aced;
}
.margin-top{
    margin-top:5rem;
}
h3{
    font-size: 22px;
}
.flex{
    display: flex;
    justify-content: center;
}
.font-size-18{
    font-size: 2rem;
}
.margin-left{
    margin-left: 39%;
}
.pointer:hover{
    cursor: pointer;
}
